<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
get
<script>
    jQuery.ajax({
        url: "/api/administrator/530615fb7e41ec790dfeb9e1",
        type: "PUT",
        data: {
        "first_name": "Rita",
        "name": "Bella",
        },
        success: function(data, textStatus, jqXHR) {
            console.log("Post resposne:");
            console.dir(data);
            console.log(textStatus);
            console.dir(jqXHR);
        }
    });
</script>
