<style>
    html{margin:0;padding:0}body{font:75% georgia,sans-serif;line-height:1.88889;color:#555753;background:#fff;margin:0;padding:0;margin-left:45px}p{margin-top:0;text-align:justify}h3{font:italic normal 1.4em georgia,sans-serif;letter-spacing:1px;margin-bottom:0;color:#7D775C}a:link{font-weight:700;text-decoration:none;color:#B7A5DF}a:visited{font-weight:700;text-decoration:none;color:#D4CDDC}a:active,a:hover{text-decoration:underline;color:#9685BA}.ok{color:#fff;background:#90ee90;font-weight:800}.no{color:#fff;background:red;font-weight:800}
</style>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<h1>Init DB</h1>

<h2>Buildings</h2>
<div id="entity"></div>
<script>
    var polytech_id = "a";
    var upmf_id = "b";
    var iae_id = "c";
    var stendhal_id = "d";

    jQuery.ajax({
        url: "http://localhost:4242/api/entity",
        type: 'POST',
        data: {"name": "Polytech Grenoble",
            "comment": "L’École Polytechnique de l'université Grenoble-I, plus communément appelée Polytech Grenoble (anciennement ISTG), est l'école d'ingénieurs de l'Université Joseph Fourier. Elle est située près de la mairie de Saint-Martin-d’Hères, à quelques centaines de mètres du domaine universitaire de Saint-Martin-d’Hères et Gières. Polytech Grenoble appartient au réseau Polytech qui regroupe treize écoles d'ingénieurs universitaires dans toute la France.",
            "type": "ecole",
            "infos": [{"uneInfo": "tata"}, {"test": "test2"}]
        },
        success: function(data, textStatus, jqXHR) {
            console.log(data.payload);
            polytech_id = data.payload._id;
            if (data.payload) {
                $("#entity").html($("#entity").html() + "<strong>Name: </strong>" + data.payload.name + " <strong>ID: </strong> " + data.payload._id + " <span class='ok'> OK </span> <br>");
            } else {
                $("#entity").html($("#entity").html() + "<strong>Name: </strong>" + data.payload.name + " <strong>ID: </strong> " + data.payload._id + " <span class='no'> ERROR </span> <br>");
            }
        },
        async: false,
        cache: false
    });

    jQuery.ajax({
        url: "http://localhost:4242/api/entity",
        type: 'POST',
        data: {"name": "UPMF",
            "comment": "L’université Pierre-Mendès-France - Grenoble (aussi appelée UPMF ou Grenoble-II), nommée ainsi en l'honneur de Pierre Mendès France, est une université française rattachée à l'Académie de Grenoble. Elle est principalement implantée dans la ville de Grenoble mais certains de ses sites sont délocalisés, notamment à Valence.",
            "type": "université", "infos": [{"uneInfo": "tata"}, {"test": "test2"}]},
        success: function(data, textStatus, jqXHR) {
            console.log(data.payload);
            upmf_id = data.payload._id;
            $("#entity").html($("#entity").html() + "<strong>Name: </strong>" + data.payload.name + " <strong>ID: </strong> " + data.payload._id + " <span class='ok'> OK </span> <br>");
        },
        async: false,
        cache: false
    });

    jQuery.ajax({
        url: "http://localhost:4242/api/entity",
        type: 'POST',
        data: {"name": "IAE",
            "comment": "Les IAE sont des composantes des universités françaises, hors IAE Paris qui a un statut à part. Ils ont pour mission le développement de la recherche et de la formation supérieure en gestion au sein des universités. Les IAE constituent un modèle qui s'inspire de celui des Business schools anglo-saxonnes.",
            "type": "école", "infos": [{"uneInfo": "tata"}, {"test": "test2"}]},
        success: function(data, textStatus, jqXHR) {
            console.log(data.payload);
            iae_id = data.payload._id;
            $("#entity").html($("#entity").html() + "<strong>Name: </strong>" + data.payload.name + " <strong>ID: </strong> " + data.payload._id + " <span class='ok'> OK </span> <br>");
        },
        async: false,
        cache: false
    });


    jQuery.ajax({
        url: "http://localhost:4242/api/entity",
        type: 'POST',
        data: {"name": "université Stendhal",
            "comment": "L'université Stendhal-Grenoble 3 (plus communément appelée université Stendhal ou parfois aussi appelée Grenoble-3), propose des enseignements de langues et de cultures étrangères, de littératures anciennes et modernes, de sciences du langage et de communication, des Arts du Spectacle. Traditionnellement formatrice d'enseignants, professeurs des écoles, professeurs certifiés ou agrégés de l'enseignement secondaire, l'Université Stendhal s'est depuis longtemps ouverte à d'autres débouchés, notamment vers les métiers de la culture, de la communication et des média, ainsi que, plus récemment, vers les métiers du journalisme.",
            "type": "université", "infos": [{"uneInfo": "tata"}, {"test": "test2"}]},
        success: function(data, textStatus, jqXHR) {
            console.log(data.payload);
            stendhal_id = data.payload._id;
            $("#entity").html($("#entity").html() + "<strong>Name: </strong>" + data.payload.name + " <strong>ID: </strong> " + data.payload._id + " <span class='ok'> OK </span> <br>");
        },
        async: false,
        cache: false
    });
</script>

<h2>Tram</h2>
<div id="tram"></div>
<script>
    jQuery.post("http://localhost:4242/api/entity", {
        "name": "tram A",
        "infos": [{"uneInfo": "tata"}, {"test": "test2"}]
    }, function(data, textStatus, jqXHR) {
        console.log(data.payload);
        $("#tram").html($("#tram").html() + "<strong>Name: </strong>" + data.payload.name + " <strong>ID: </strong> " + data.payload._id + " <span class='ok'> OK </span> <br>");
    });
    jQuery.post("http://localhost:4242/api/entity", {
        "name": "tram B",
        "infos": [{"uneInfo": "tata"}, {"test": "test2"}]
    }, function(data, textStatus, jqXHR) {
        console.log(data.payload);
        $("#tram").html($("#tram").html() + "<strong>Name: </strong>" + data.payload.name + " <strong>ID: </strong> " + data.payload._id + " <span class='ok'> OK </span> <br>");
    });
    jQuery.post("http://localhost:4242/api/entity", {
        "name": "tram C",
        "infos": [{"uneInfo": "tata"}, {"test": "test2"}]
    }, function(data, textStatus, jqXHR) {
        console.log(data.payload);
        $("#tram").html($("#tram").html() + "<strong>Name: </strong>" + data.payload.name + " <strong>ID: </strong> " + data.payload._id + " <span class='ok'> OK </span> <br>");
    });
</script>

<h2>RU</h2>
<div id="ru"></div>
<script>
    jQuery.post("http://localhost:4242/api/entity", {
        "name": "Diderot",
        "infos": [{}],
        "items": [
            {"id_crous": 19, "name": "Cafeteria", "menus": [{}]},
            {"id_crous": 18, "name": "Entracte", "menus": [{}]},
            {"id_crous": 46, "name": "Administractif", "menus": [{}]},
            {"id_crous": 17, "name": "Traditionnel (2 salles) ", "menus": [{}]}
        ]
    }, function(data, textStatus, jqXHR) {
        console.log(data.payload);
        $("#ru").html($("#ru").html() + "<strong>Name: </strong>" + data.payload.name + " <strong>ID: </strong> " + data.payload._id + " <span class='ok'> OK </span> <br>");
    });
    jQuery.post("http://localhost:4242/api/entity", {
        "name": "condillac",
        "infos": [{"id_crous": 3}],
        "items": [
            {"id_crous": 4, "name": "condillac ", "menus": [{}]}
        ]
    }, function(data, textStatus, jqXHR) {
        console.log(data.payload);
        $("#ru").html($("#ru").html() + "<strong>Name: </strong>" + data.payload.name + " <strong>ID: </strong> " + data.payload._id + " <span class='ok'> OK </span> <br>");
    });
    jQuery.post("http://localhost:4242/api/entity", {
        "name": "barnave",
        "infos": [{"id_crous": 3}],
        "items": [
            {"id_crous": 13, "name": "Cafeteria", "menus": [{}]},
            {"id_crous": 24, "name": "Framboisière", "menus": [{}]},
            {"id_crous": 3, "name": "Traditionnel (2 salles) ", "menus": [{}]}
        ]
    }, function(data, textStatus, jqXHR) {
        console.log(data.payload);
        $("#ru").html($("#ru").html() + "<strong>Name: </strong>" + data.payload.name + " <strong>ID: </strong> " + data.payload._id + " <span class='ok'> OK </span> <br>");
    });
</script>

<h2>Administrators</h2>
<div id="admin"></div>
<script>
    jQuery.post("http://localhost:4242/api/administrator", {
        "first_name": "nicolas",
        "name": "husson",
        "entity": [stendhal_id]
    }, function(data, textStatus, jqXHR) {
        if (data.payload._id)
            $("#admin").html($("#admin").html() + "<strong>Name: </strong>" + data.payload.name + " " + data.payload.first_name + " <strong>ID: </strong> " + data.payload._id + "<span class='ok'> OK </span> <br>");
        else
            $("#admin").html($("#admin").html() + "<strong>Name: </strong>" + data.payload.name + " " + data.payload.first_name + " <strong>ID: </strong> " + data.payload._id + "<span class='no'> ERROR </span> <br>");

    });
    jQuery.post("http://localhost:4242/api/administrator", {
        "first_name": "thomas",
        "name": "nunes",
        "entity": [iae_id]
    }, function(data, textStatus, jqXHR) {
        if (data.payload._id)
            $("#admin").html($("#admin").html() + "<strong>Name: </strong>" + data.payload.name + " " + data.payload.first_name + " <strong>ID: </strong> " + data.payload._id + " <span class='ok'> OK </span> <br>");
        else
            $("#admin").html($("#admin").html() + "<strong>Name: </strong>" + data.payload.name + " " + data.payload.first_name + " <strong>ID: </strong> " + data.payload._id + " <span class='no'> ERROR </span> <br>");
    });

    jQuery.post("http://localhost:4242/api/administrator", {
        "first_name": "simon",
        "name": "planfs",
        "entity": [polytech_id]
    }, function(data, textStatus, jqXHR) {
        if (data.payload._id)
            $("#admin").html($("#admin").html() + "<strong>Name: </strong>" + data.payload.name + " " + data.payload.first_name + " <strong>ID: </strong> " + data.payload._id + " <span class='ok'> OK </span> <br>");
        else
            $("#admin").html($("#admin").html() + "<strong>Name: </strong>" + data.payload.name + " " + data.payload.first_name + " <strong>ID: </strong> " + data.payload._id + " <span class='no'> ERROR </span> <br>");
    });
    jQuery.post("http://localhost:4242/api/administrator", {
        "first_name": "laurene",
        "name": "guelorgette",
        "entity": [polytech_id]
    }, function(data, textStatus, jqXHR) {
        if (data.payload._id)
            $("#admin").html($("#admin").html() + "<strong>Name: </strong>" + data.payload.name + " " + data.payload.first_name + " <strong>ID: </strong> " + data.payload._id + " <span class='ok'> OK </span> <br>");
        else
            $("#admin").html($("#admin").html() + "<strong>Name: </strong>" + data.payload.name + " " + data.payload.first_name + " <strong>ID: </strong> " + data.payload._id + " <span class='no'> ERROR </span> <br>");
    });
</script>
<h1>Usage</h1>
<h4>Afficher l'ensemble des entités</h4>
http://localhost:4242/api/entity/ </br>

<h4>Afficher un entité $id</h4>
http://localhost:4242/api/entity/$id/ </br>

<h4>Afficher les infos d'une entité $id</h4>
http://localhost:4242/api/entity/$id/infos </br>

<h4>Afficher la premiére info d'une entité $id</h4>
http://localhost:4242/api/entity/$id/infos/0 </br>

<h4>Afficher un attribut d'ine info d'une entité $id</h4>
http://localhost:4242/api/entity/$id/infos/0/uneInfo </br>