<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>

    <head>
        <title>SmartCampus | Admin</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css">
        <script type="text/javascript" src="js/libs/jquery/jquery.js"></script>
        <script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="js/admin.js"></script>
    </head>

    <body>
        
        <div id="wrapper" class="container">
            <nav class="row">
                <ul id="entities_list" class="nav nav-tabs navbar-static-top navbar-inverse">
                    <!--                    <li class="active"><a href="#building_1" data-toggle="tab"><span class="glyphicon glyphicon-home"></span> Building 1</a></li>
                                        <li><a href="#building_2" data-toggle="tab"><i class="glyphicon glyphicon-home"></i> Building 2</a></li>
                                        <li><a href="#building_3" data-toggle="tab"><i class="glyphicon glyphicon-home"></i> Building 3</a></li>-->
                </ul>
            </nav>

            <div class="row">
                <nav class="col-md-2" id="leftmenu">
                    <ul class="nav nav-pills nav-stacked">
                        <li><a href="#" id="menu_configuration" onclick="get_sensors()"><i class="glyphicon glyphicon-cog"></i> Configuration</a></li>
                        <li><a href="#" id="menu_comments" onclick="get_comments()"><i class="glyphicon glyphicon-comment"></i> Commentaires</a></li>
                        <li><a href="#" id="menu_rights"><i class="glyphicon glyphicon-ok-sign"></i> Droits</a></li>
                        <li><a href="#" id="menu_events" onclick="get_events()"><i class="glyphicon glyphicon-calendar"></i> Événements</a></li>
                    </ul>
                </nav>

                <div id="splitter">
                    <div class="col-md-5">
                        <div id="entities_content" class="tab-content">
                            <!--                            <div class="tab-pane active" id="building_1">Contenu du building 1</div>
                                                        <div class="tab-pane" id="building_2">Contenu du building 2</div>
                                                        <div class="tab-pane" id="building_3">Contenu du building 3</div>-->
                        </div>
                        <div id="leftpanel">

                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="jumbotron">
                            <a href="http://localhost:8080/openhab.app?sitemap=simon" target="_blank"><h1>openHAB</h1></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <script type="text/javascript">

            initialize();

        </script>

    </body>
</html>
