<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Configuration</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <h1>Configuration</h1>

        <span class="nav nav-pills nav-stacked" data-toggle="collapse" data-target="#div_sensors">
        </span>

        <div class="collapse in">
            <div id="div_sensors" class="panel-body"></div>
        </div>

    </body>
</html>
