<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Configuration</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <p>Configuration</p>

        <span class="nav nav-pills nav-stacked" data-toggle="collapse" data-target="#div_sensors">
        </span>

        <div class="collapse in">
            <div id="div_sensors" class="panel-body">
<!--                <table class="table">
                    <tbody id="tbody_sensors">
                        <tr>
                            <td>Sensor 1</td>
                            <td><a href="#" title="Modifier"><i class="glyphicon glyphicon-pencil"></i></a></td>
                            <td><a href="#" title="Supprimer"><i class="glyphicon glyphicon-remove"></i></a></td>
                        </tr>
                        <tr>
                            <td>Sensor 2</td>
                            <td><a href="#" title="Modifier"><i class="glyphicon glyphicon-pencil"></i></a></td>
                            <td><a href="#" title="Supprimer"><i class="glyphicon glyphicon-remove"></i></a></td>
                        </tr>
                        <tr>
                            <td>Sensor 3</td>
                            <td><a href="#" title="Modifier"><i class="glyphicon glyphicon-pencil"></i></a></td>
                            <td><a href="#" title="Supprimer"><i class="glyphicon glyphicon-remove"></i></a></td>
                        </tr>
                    </tbody>
                </table>-->
                
            </div>
        </div>
        
<!--        <div id="divtest">
            normal content
        </div>

<script>
    foo();
</script>-->

    </body>
</html>
