<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Droits</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css">
        <script type="text/javascript" src="js/admin.js"></script>
    </head>
    <body>
        <p>Droits</p>

        <p><label>Sélectionner un administrateur</label></p>
        <div class="row">
            <select id="admins_list" class="form-control col-md-4" size=5 style="width: 15em"></select>
            <div class="col-md-1">
                <p>actif <input type="checkbox" name="checkbox" value="checkbox"></p>
            </div>
        </div>

        <div class="row">
            <div id="admin_descr" class="col-md-5">

            </div>
        </div>

        <script type="text/javascript">
            get_admins();
        </script>

    </body>
</html>
