<!DOCTYPE html>
<!--
 * SmartCampus
 *  ©SmartCampus 2014 https://github.com/thomasNDS/SmartCampus2014
 *  License MIT
-->
<html>
    <head>
        <title>A propos</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script type="text/javascript" src="/js/libs/jquery/jquery.js"></script>
        <script>
            loadAbout();
            function loadAbout() {
                var text = translate("L'équipe SmartCampus est formée de 5 étudiants de dernière année à Polytech'Grenoble, en filière RICM.") + "<br>"
                text += translate("Le but de cette application est de permettre à l'utilisateur d'accéder à plusieurs types d'informations :") + "<br>"
                text += translate("- des infos de crowdsourcing, comme la longueur de files d'attente ;") + "<br>"
                text += translate("- des infos générales sur les bâtiments et objets du campus ;") + "<br>"
                text += translate("- des infos variables, comme les horaires de tram et les menus du RU ;") + "<br>"
                text += translate("- des données de capteurs atmosphériques.") + "<br>";
                $('#content_about').html((text));
            }
        </script>
    </head>
    <body>
        <div id="content_about" >

        </div>
    </body>
</html>
