<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>A propros</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>
			L’équipe SmartCampus est formée de 5 étudiants de dernière année à Polytech'Grenoble, en filière RICM. <br>
			Le but de cette application est de permettre à l'utilisateur d'accéder à plusieurs types d'informations : <br>
			- des infos de crowdsourcing, comme la longueur de files d'attente ; <br>
			- des infos générales sur les bâtiments et objets du campus ; <br>
			- des infos variables, comme les horaires de tram et les menus du RU ; <br>
			- des données de capteurs atmosphériques. <br>
		</div>
    </body>
</html>
