<!--
 * SmartCampus
 *  ©SmartCampus 2014 https://github.com/thomasNDS/SmartCampus2014
 *  License MIT
-->

<html>
    <head>
        <title>Paramètres</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <script type="text/javascript" src="/js/libs/jquery/jquery.js"></script>
        <script>$('#some_id').on('change', function() {
                alert(this.value); // or $(this).val()
            });</script>
    </head>
    <body>
        <div>
            <label for="langage">Langue</label><select name="langage" id="langage">
                <option value="french">French</option>
                <option value="english">English</option>
            </select>
        </div>
    </body>
</html>
