<!--
 * SmartCampus
 *  ©SmartCampus 2014 https://github.com/thomasNDS/SmartCampus2014
 *  License MIT
-->

<html>
    <head>
        <title>Paramètres</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <script type="text/javascript" src="/js/libs/jquery/jquery.js"></script>
        <script>
            $('#langage').on('change', function() {
                lang_selected = this.value;
            });
            $('#langage_info').html(translate("Langue"));
        </script>
    </head>
    <body>
        <div>
            <label id="langage_info" for="langage"></label><select name="langage" id="langage">
                <option value="fr">Français</option>
                <option value="en">English</option>
                <option value="uk">Український</option>
                <option value="ru">русский</option>
            </select>
        </div>
    </body>
</html>
